Standard/src/tools/llh_skymap/skytxt/*.fits
Standard/src/tools/llh_skymap/skytxt/*.gz
Standard/src/tools/llh_skymap/skytxt/*.pdf
Standard/src/tools/llh_skymap/skytxt/*.txt
Standard/src/tools/llh_skymap/sourcetxt/*
Standard/src/tools/LHAASO_skytrans/skytxt/*txt
Standard/src/tools/LHAASO_skytrans/skytxt/*pdf
Standard/src/tools/LHAASO_skytrans/skytxt/*fits
Standard/src/tools/LHAASO_skytrans/skytxt/*gz
Standard/src/tools/LHAASO_skytrans/skytxt/*npy
Standard/src/tools/llh_skymap/output/*
Standard/src/tools/llh_skymap/*.gz
Standard/src/tools/llh_skymap/__pycache__
Standard/src/tools/skymap/*.gz
Standard/src/tools/skymap/*.pdf
Standard/src/mylib/__pycache__
Standard/src/.ipynb_checkpoints
Standard/src/*.fits
Standard/src/*.ipynb
Standard/src/*.py
Standard/src/*.sh
Standard/src/*.gz
Standard/src/*.pha
Standard/src/*.rsp
Standard/src/*.rsp2
Standard/src/*.log
Standard/src/*.ctr
Standard/src/*.eps
Standard/src/runtest*
Standard/src/*.par
!Standard/src/Justdraw.ipynb
!Standard/src/tools/llh_skymap/sourcetxt/*ipynb
!Standard/src/3MLnew_Crab.ipynb
!Standard/src/3MLnew_Crab_jfit.ipynb
!Standard/src/3MLnew_Crab_KM2A.ipynb
!Standard/src/3MLnew_Crab_beys.ipynb
!Standard/src/3MLnew_S147_KM2A.ipynb
!Standard/src/3MLnew_S147.ipynb
!Standard/src/3MLnew_Diffuse.ipynb
!Standard/src/3MLnew_Diffuse_KM2A.ipynb
!Standard/src/3MLnew_Fullsky.ipynb
!Standard/src/3MLnew_Fermi.ipynb
!Standard/src/sccatalog.ipynb
!Standard/src/3MLnew_GRB080916.ipynb
!Standard/src/3MLnew_GRB221009A_old.ipynb
!Standard/src/3MLnew_GRB221009A.ipynb
!Standard/src/*yaml
!Standard/src/*yml
!Standard/src/tutorial.ipynb